<section class="content pb-8">
  <%= form_for [:admin, page], local: true  do |f| %>
  <%= f.hidden_field :user_id  %>
  <%= render "admin/shared/errors", object: page %>

  <% if @page.category == "static" || @page.category == "errors" %>
    <%= render "wysiwyg", f: f %>
  <% else %>
    <%= render "admin/pages/og", object: f %>
    <%= render "admin/pages/content", object: f %>
  <% end %>
  
  <footer class="w-full flex items-center justify-end pt-2 pb-8">
    <button type="submit" class="btn-sm"><i class="fas fa-save pr-2"></i> Guardar</button>
  </footer>

  <% end %>
</section>