<% provide(:title, "quotation") %>

<div class="page">
  <div class="wrapper" style="padding: 28px;">
    <%= render "line", str: 'Viernes 26 de Marzo, 2025 18:00:00 GMT-060' %>
    <%= render "line", str: "&nbsp; " %>
    <%= render "line", str: '<img src="http://localhost:3000/juanfuent.es.c-symbol.svg" width="14" height="14" style="display: inline;position:relative; top: 0px;"> juanfuent.es@104.236.73.68:~$ more ./quotations' %>
    <%= render "line", str: "&nbsp; " %>
    <%= render "line", str: ("="*90) %>
    <%= render "line", str: "* QUOTATION" %>
    <%= render "line", str: ("="*90) %>
    <%= render "line", str: "&nbsp; " %>
    <%= render "line", str: "Sitio web Interactivo - Catálogo de productos" %>
    <%= render "line", str: "&nbsp; " %>
    <%= render "line", str: "SECCIONES" %>
    <%= render "line", str: "&nbsp; ▪ Home | Galería de Productos" %>
    <%= render "line", str: "&nbsp; ▪ Detalle | Interior de Producto" %>
    <%= render "line", str: "&nbsp; ▪ About | Nosotros" %>
    <%= render "line", str: "&nbsp; ▪ Contacto" %>
    <%= render "line", str: "&nbsp; ▪ Legales [En caso de ser requerido por analytics, colección de datos y/o similares]" %>
    
    <%= render "line", str: "&nbsp; " %>
    <%= render "line", str: "+ SERVICIOS DE DISEÑO" %>
    <%= render "line", str: "&nbsp; ▪ Sistema de diseño web [Requiere manual de marca]" %>
    <%= render "line", str: "&nbsp; ▪ Mapa de sitio" %>
    <%= render "line", str: "&nbsp; ▪ Wireframing" %>
    <%= render "line", str: "&nbsp; ▪ Diseño Responsive" %>
    
    <%= render "line", str: "&nbsp; " %>
    <%= render "line", str: "+ SERVICIOS FRONTEND" %>
    <%= render "line", str: "&nbsp; ▪ Semantic / Responsive Markup" %>
    <%= render "line", str: "&nbsp; ▪ Styling Theme [Requiere manual de marca, hexadecimales de paleta de color]" %>
    <%= render "line", str: "&nbsp; ▪ Scripting" %>
    <%= render "line", str: "&nbsp; ▪ Componentes" %>
    <%= render "line", str: "&nbsp; ▪ Interactividad & Motion (Animación / Transiciones)" %>
    
    <%= render "line", str: "&nbsp; " %>
    <%= render "line", str: "+ SERVICIOS BACKEND | SERVER PROCESSOR" %>
    <%= render "line", str: "&nbsp; ▪ Procesamiento para optimización de imágenes [ImageMagick]" %>
    <%= render "line", str: "&nbsp; ▪ Generador de versiones para diferentes dispositivos [Mobile, tablet, desktop]" %>
    <%= render "line", str: "&nbsp; ▪ Conversión de formatos para cargas más ágiles [ *.webp > *.jpg ]" %>
    <%= render "line", str: "&nbsp; ▪ Instalación SSL, Firewall, Caché, ..." %>
    
    <%= render "line", str: "&nbsp; " %>
    <%= render "line", str: "+ TECNOLOGÍA" %>
    <%= render "line", str: "&nbsp; ▪ OpenGraph [Microformatos para ‘sharing’ en redes sociales (fb, whatsapp, x, ...)]" %>
    <%= render "line", str: "&nbsp; ▪ Ruby on Rails [Web App Framework]" %>
    <%= render "line", str: "&nbsp; ▪ Repositorio [Código fuente de proyecto en Github]" %>
    <%= render "line", str: "&nbsp; ▪ Analytics[Track de visitas]" %>
    <%= render "line", str: "&nbsp; " %>
    
    <%= render "line", str: "+ RECURSOS [Provistos por cliente]" %>
    <%= render "line", str: "&nbsp; ▪ Paleta de color Hexadecimal" %>
    <%= render "line", str: "&nbsp; ▪ Manual de identidad de marca" %>
    <%= render "line", str: "&nbsp; ▪ Imágenes [ Fotografías en formato .png, con tamaño mínimo de 1920px de ancho en RGB]" %>
    <%= render "line", str: "&nbsp; ▪ Copydeck [ Textos de todas las secciones, detalle de productos, información nutrimental, y/o cualquier texto mostrado en pantalla, incluyendo legales]" %>
    <%= render "line", str: "&nbsp; ▪ Tipografías [Incluyendo licencia de uso en caso de ser requerida]" %>
    <%= render "line", str: "&nbsp; ▪ Licencias/keys para uso de software/servicios de terceros, en caso de ser requerido. <br>Ej: mailing transaccional, servidor, ..." %>
    <%= render "line", str: "&nbsp; ☑ Logotipo en formato vectorial. [svg, ai]" %>
    
    <%= render "line", str: "&nbsp; " %>
    <%= render "line", str: ("-"*90) %>
    <%= render "line", str: "# DESARROLLO" %>
    <%= render "line", str: ("-"*90) %>
    <%= render "line", str: "&nbsp; 9-12 semanas de producción" %>
    <%= render "line", str: "&nbsp; Costo sin IVA - $140,000 MXN [Ciento Cuarenta Mil 00/100 Pesos Mexicanos]" %>
    <p style="font-size: 18px; line-height: 1.42em; margin: 3em 0 2em 0; padding: 0; font-family: 'SpaceMono Regular'; color: #FCFCFC;">
      <img src="<%= "http://localhost:3000/" %>/juanfuent.es-logo.svg" width="108" height="14" style="width: 200px; height: auto;">
    </p>
    <%= render "line", str: "Todo desarrollo requiere de 50% de pago como anticipo / Liquidación a contraentrega" %>
</div>
