<% provide(:title, "#{t(:topics)}") %>

<header class="flex flex-col-reverse md:items-center md:flex-row border-b border-white/5 py-4 sm:py-6 mb-2 md:mb-4">
  <div class="sm:flex-auto">
    <h1 class="leading-6 text-xl font-medium"><%= t(:topics) %> <sup><%= Topic.all.count %></sup></h1>
    </div>
  <nav class="my-4 flex gap-4 text-sm">
    <%= link_to new_admin_topic_path, class: 'btn-sm' do %>
      <i class="fas fa-plus"></i> <%= "#{t(:new)} #{t(:topic)}" %>
    <% end %>
  </nav>
</header>

<section class="my-8 flow-root">
  <table class="w-full">
    <thead>
      <tr>
        <th>Editar</th>
        <th><span class="sr-only">Eliminar</span></th>
      </tr>
    </thead>
    <tbody>
      <% @topics.each do |topic| %>
        <tr>
          <td>
            <%= link_to edit_admin_topic_url(topic), class: "" do %>
              Editar topic
            <% end %>
          </td>
          <td class='text-center'>
            <%= link_to admin_topic_path(topic), method: :delete, class: "btn danger" , data: { confirm: "¿Estás seguro de eliminar este #{t(:topic)}?" } do %>
              <i class='fas fa-trash'></i> Eliminar
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>