<div id="topic-block-<%= idx %>" class="w-full flex gap-2">
    <div class="w-7/12 flex flex-col gap-2">
        <div class="w-full flex gap-2 items-end">
            <div class="w-5/12">
                <%= render "components/label", f: f, name: :title, text: t(:title), icon: "fas fa-text" %>
                <%= render "components/input", f: f, input_type: :text_field, name: :title %>
            </div>
            <div class="w-5/12">
                <%= render "components/label", f: f, name: :block_type, text: t(:block_type), icon: "fas fa-text" %>
                <%= render "components/select", f: f, attr: :block_type, options: Block::BLOCK_TYPES %>
                
            </div>
            <div class="w-2/12">
                <%= f.label :_destroy do %>
                    <div class="button remove-block text-center" data-target="#topic-block-<%= idx %>">
                        <%= f.check_box :_destroy, class: "sr-only" %>
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </div>
                <% end %>
            </div>
        </div>
        <div class="w-full ">
            <%= render "components/label", f: f, name: :description, text: t(:description), icon: "fas fa-align-left" %>
            <div class="editor-container text-black text-sm">
                <%= render "components/input", f: f, input_type: :text_area, name: :description %>
            </div>
        </div>
    </div>
    <div class="w-5/12 text-center">
        <%= render "img_uploader", f: f, object: f.object.image %>
    </div>
</div>