<section class="w-full mx-auto ">
  <%= form_for [:admin, @program, @theme, topic], local: true do |f| %>
    <%= render "shared/errors", object: topic %>
        
    <%= f.hidden_field :theme_id %>
        
    <div class="flex gap-4">
        <div class="w-1/2">
            <%= render "components/label", f: f, name: :title, text: t(:title), icon: "fas fa-text" %>
            <%= render "components/input", f: f, input_type: :text_field, name: :title %>
        </div>
        
        <div class="w-3/12">
            <%= render "components/label", f: f, name: :estimated_time, text: t(:estimated_time), icon: "fas fa-field" %>
            <%= render "components/input", f: f, input_type: :number_field, name: :estimated_time %>
        </div>
        
        <div class="w-3/12">
            <%= render "components/label", f: f, name: :content_type, text: t(:content_type), icon: "fas fa-text" %>
            <%= f.select :content_type, Topic.content_types.keys.map { |key| [Topic.content_types[key], key] }, {}, class: "block w-full bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" %>
        </div>
    </div>

    <div class="grid grid-cols-2 gap-4">
        <div class="w-full">
            <%= render "components/label", f: f, name: :objective, text: t(:objective), icon: "fas fa-align-left" %>
            <div class="editor-container text-black text-sm">
                <%= render "components/input", f: f, input_type: :text_area, name: :objective %>
            </div>
        </div>
        <div class="w-full">
            <%= render "components/label", f: f, name: :comments, text: t(:comments), icon: "fas fa-align-left" %>
            <div class="editor-container text-black text-sm">
                <%= render "components/input", f: f, input_type: :text_area, name: :comments %>
            </div>
        </div>
    </div>

    <div class="w-full">
        <%= render "components/label", f: f, name: :presentation, text: t(:presentation), icon: "fas fa-align-left" %>
        <div class="big-editor editor-container text-black text-sm">
            <%= render "components/input", f: f, input_type: :text_area, name: :presentation %>
        </div>
    </div>
        
    <div class="grid grid-cols-2 gap-4">
        <div class="w-full">
            <%= render "components/label", f: f, name: :exercises, text: t(:exercises), icon: "fas fa-align-left" %>
            <div class="editor-container text-black text-sm">
                <%= render "components/input", f: f, input_type: :text_area, name: :exercises %>
            </div>
        </div>
            
        <div class="w-full">
            <%= render "components/label", f: f, name: :homework, text: t(:homework), icon: "fas fa-align-left" %>
            <div class="editor-container text-black text-sm">
                <%= render "components/input", f: f, input_type: :text_area, name: :homework %>
            </div>
        </div>
    </div>
    
    <div class="grid grid-cols-2 gap-4">
        <div class="w-full">
        <%= render "components/label", f: f, name: :reference_material, text: t(:reference_material), icon: "fas fa-align-left" %>
        <div class="editor-container text-black text-sm">
            <%= render "components/input", f: f, input_type: :text_area, name: :reference_material %>
        </div>
    </div>
    
    <div class="w-full">
        <%= render "components/label", f: f, name: :credits_and_sources, text: t(:credits_and_sources), icon: "fas fa-align-left" %>
        <div class="editor-container text-black text-sm">
            <%= render "components/input", f: f, input_type: :text_area, name: :credits_and_sources %>
        </div>
    </div>
    
    <footer class="w-full flex justify-between mt-2">
      <%= render "components/btn", text: t(:save), button_type: 'submit' %>
    </footer>

    <% end %>

</section>