<section class="w-full mx-auto ">
  <%= form_for [:admin, @program, @theme, topic], local: true do |f| %>
    <%= render "shared/errors", object: topic %>
        
    <%= f.hidden_field :theme_id %>

    <header class="border-b border-light/40">
        <div class="sm:flex sm:items-baseline">
          <nav class="-mb-px flex space-x-8 text-xs uppercase">
            <a href="#topic-info"         class="tab-link active">Información</a>
            <a href="#topic-content"      class="tab-link">Contenido</a>
            <a href="#topic-blocks"       class="tab-link">Bloques</a>
            <a href="#topic-exercises"    class="tab-link">Ejercicios</a>
            <a href="#topic-references"   class="tab-link">Referencias</a>
          </nav>
        </div>
      </header>
  
    <div class="tab-content ">
        <div class="tab w-full"        id="topic-info">   <%= render "admin/topics/info",       topic: topic, f: f %>   </div>
        <div class="tab w-full hidden" id="topic-content"><%= render "admin/topics/content",       topic: topic, f: f %></div>
        <div class="tab w-full hidden" id="topic-blocks"> <%= render "admin/topics/blocks",       topic: topic, f: f %></div>
        <div class="tab w-full hidden" id="topic-exercises"> <%= render "admin/topics/exercises",    topic: topic, f: f %></div>
        <div class="tab w-full hidden" id="topic-references"> <%= render "admin/topics/references",    topic: topic, f: f %></div>
    </div>
    
    
    <footer class="w-full text-right sticky left-0 bottom-0 bg-black py-2 px-4 z-30 flex items-center justify-between border-t border-dark-800/50">
      <%= render "components/btn", text: t(:save), button_type: 'submit' %>
    </footer>

    <% end %>

</section>