
<!-- 
 container = .uploader-container
  image = container.querySelector('.uploader-image')
  image_id = container.querySelector('.uploader-id') # se almacenar치 el id de la imagen que returna el servicio de carga. @see: app/services/image_upload_service.rb
 #buttons
  fileInput = container.querySelector('.uploader-input')
  #progress
  progressBar = container.querySelector('.uploader-progress')
 @see: app/javascript/components/uploader.js
-->

<%= f.label :image, class: "uploader-container w-full card group relative overflow-hidden md:hover:unplugged mx-auto cursor-pointer block text-xs", data: { attr: 'image', url: '/switchboard/images' } do %>
    <%= f.file_field :image, class: "uploader-input sr-only", accept: "image/*" %>
    <!-- 
    * El markup de este parcial es similar a los modelos 'image', 'Image', 'Video', 'OgImage'
    * s칩lo cambia el 'image_id', en este caso responde al modelo 'image', coincidente con la misma forma
    * repetir la operaci칩n de parciales con los dem치s modelos multimedia
     -->
     <%= f.text_field :image_id, class: "uploader-id sr-only" %>
     <div class="uploader-progress bg-light h-1.5 w-0 left-0 absolute bottom-0"></div>
     <% src = object.present? ? object.file.url(:small) : "/static/not-found.png" %>
    <img src="<%= src %>" data-src="<%= src %>" class="uploader-image opacity-40 md:group-hover:opacity-80 md:group-hover:scale-105 w-full h-auto transition-all aspect-video object-cover object-center">
    <img src="/static/logo.svg" alt="Logo" class="uploader-loader w-12 inline absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2">
    <small class="absolute right-0 top-0 text-right p-4 opacity-60 md:group-hover:opacity-100 transition-opacity normal-case">1920x1080*.PNG</small>
    <small class="block"><span class="uploader-percent text-green"></span> Cover </small>
<% end %>