<% provide(:title, "topic") %>

<header class="flex flex-col-reverse md:items-center md:flex-row border-b border-white/5 py-4 sm:py-6 mb-2 md:mb-4">
  <div class="sm:flex-auto">
    <h1 class="leading-6 text-xl font-medium"><%= "#{t(:detail)} de #{t(:topic)}" %></h1>
    </div>
  <nav class="my-4 flex gap-4 text-sm">
    <%= link_to admin_program_theme_topics_path(program, theme), class: 'btn-xs danger' do %>
      <i class="fa-solid fa-arrow-left pr-1"></i> Regresar
    <% end %>
  </nav>
</header>


<section class="content">
  <!-- Default box -->
  <div class="card card-primary card-outline">
    <header class="card-header">
      <%= link_to edit_admin_topic_url(@topic), class: "btn btn-outline-primary btn-sm" do %>
        <i class="fas fa-pencil-alt"></i> Editar
      <% end -%>
      <%= link_to admin_topic_path(@topic), class: "btn btn-outline-danger btn-sm float-right", method: :delete, data: { confirm: "¿Estás seguro de eliminar este #{t(:topic)}?" } do %>
        <i class="fa-solid fa-trash"></i> Eliminar
      <% end -%>
    </header>
    <div class="card-body">
      <div class="row">
        <div class="col-12">
                      <p>
              <strong>Theme:</strong>
                                <%= @topic.theme_id %>
                          </p>
                      <p>
              <strong>Title:</strong>
                                <%= @topic.title %>
                          </p>
                      <p>
              <strong>Objective:</strong>
                                <%= @topic.objective %>
                          </p>
                      <p>
              <strong>Estimated time:</strong>
                                <%= @topic.estimated_time %>
                          </p>
                      <p>
              <strong>Content type:</strong>
                                <%= @topic.content_type %>
                          </p>
                      <p>
              <strong>Exercises:</strong>
                                <%= @topic.exercises %>
                          </p>
                      <p>
              <strong>Homework:</strong>
                                <%= @topic.homework %>
                          </p>
                      <p>
              <strong>Comments:</strong>
                                <%= @topic.comments %>
                          </p>
                      <p>
              <strong>Reference material:</strong>
                                <%= @topic.reference_material %>
                          </p>
                      <p>
              <strong>Credits and sources:</strong>
                                <%= @topic.credits_and_sources %>
                          </p>
                  </div>
      </div>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</section>