<div class="page" style="background:#5d41bc;height:100%; text-align:center; color:white;">
    <div class="content-page">
    <%= wicked_pdf_image_tag 'http://localhost:3000/static/ebac_mx_logo-white.png', style: 'width: 200px; margin: 20px auto;' %>
    <h1>IT Starter</h1>
    <h1 class="title"><%= @topic.title %></h1>
    <div class="theme-info">
      <h2><%= @topic.theme.number %> - <%= @topic.theme.title %></h2>
      <p>Tiempo Estimado: <%= @topic.estimated_time %> minutos</p>
    </div>
  </div>
</div>

<div class="page">
<% if @topic.objective.present? %>
        <div class="content-page">
            <h2>Objetivo</h2>
            <div class="section">
                <p><%= @topic.objective.try(:html_safe) %></p>
            </div>
        </div>
    </div>
<% end %>

<% if @topic.content_type.present? %>
    <div class="page">
        <div class="content-page">
            <div class="section">
                <h3>Tipo de Contenido</h3>
                <%= @topic.content_type.try(:html_safe) %>
            </div>
        </div>
    </div>
<% end %>

<% if @topic.exercises.present? %>
    <div class="page">
        <div class="content-page">
            <div class="section">
                <h3>Ejercicios</h3>
                <%= @topic.exercises.try(:html_safe) %>
            </div>
        </div>
    </div>
<% end %>

<% if @topic.homework.present? %>
    <div class="page">
        <div class="content-page">
            <div class="section">
                <h3>Tarea</h3>
                <%= @topic.homework.try(:html_safe) %>
            </div>
        </div>
    </div>
<% end %>
        
<% if @topic.comments.present? %>
    <div class="page">
        <div class="content-page">
            <div class="section">
                <h3>Comentarios</h3>
                <%= @topic.comments.try(:html_safe) %>
            </div>
        </div>
    </div>
<% end %>

<% if @topic.reference_material.present? %>
    <div class="page">
        <div class="content-page">
            <div class="section">
                <h3>Material de Referencia</h3>
                <%= @topic.reference_material.try(:html_safe) %>
            </div>
        </div>
    </div>
<% end %>

<% if @topic.credits_and_sources.present? %>
    <div class="page">
        <div class="content-page">
            <div class="section">
                <h3>Créditos y Fuentes</h3>
                <%= @topic.credits_and_sources.try(:html_safe) %>
            </div>
        </div>
    </div> 
<% end %>