<section class="content">
  <!-- Default box -->
  <div class="card card-primary card-outline">  
    <div class="card-body">
      <div class="row">
        <div class="col-12">
                      <p>
              <strong>Theme:</strong>
                                <%= @topic.theme_id %>
                          </p>
                      <p>
              <strong>Title:</strong>
                                <%= @topic.title %>
                          </p>
                      <p>
              <strong>Objective:</strong>
                                <%= @topic.objective %>
                          </p>
                      <p>
              <strong>Estimated time:</strong>
                                <%= @topic.estimated_time %>
                          </p>
                      <p>
              <strong>Content type:</strong>
                                <%= @topic.content_type %>
                          </p>
                      <p>
              <strong>Exercises:</strong>
                                <%= @topic.exercises %>
                          </p>
                      <p>
              <strong>Homework:</strong>
                                <%= @topic.homework %>
                          </p>
                      <p>
              <strong>Comments:</strong>
                                <%= @topic.comments %>
                          </p>
                      <p>
              <strong>Reference material:</strong>
                                <%= @topic.reference_material %>
                          </p>
                      <p>
              <strong>Credits and sources:</strong>
                                <%= @topic.credits_and_sources %>
                          </p>
                  </div>
      </div>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</section>