<div id="<%= dom_id quotation %>">
  <p>
    <strong>Client:</strong>
    <%= quotation.client %>
  </p>

  <p>
    <strong>Logo:</strong>
    <%= quotation.logo %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= quotation.project %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= quotation.description %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= quotation.title %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= quotation.slug %>
  </p>

  <p>
    <strong>Footer:</strong>
    <%= quotation.footer %>
  </p>

  <p>
    <strong>Weeks:</strong>
    <%= quotation.weeks %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= quotation.total %>
  </p>

</div>
