<%= render "devise/shared/header", title: "Iniciar Sesión", content: "" %>
<%= form_for(resource, as: resource_name, url: session_path(resource_name), class: 'space-y-6 w-full flex flex-col') do |f| %>
<%= render "shared/errors", object: resource %>

<fieldset class="w-full py-1">
  <%= render 'components/label', f: f, name: :email, text: 'Correo Electrónico', icon: 'fa-regular fa-envelope' %>
  <%= render 'components/input', f: f, input_type: :email_field, name: :email %>
</fieldset>

<fieldset class="w-full py-1 relative">
  <%= render 'components/label', f: f, name: :password, text: 'Contraseña', icon: 'fa-solid fa-key' %>
  <%= render 'components/input', f: f, input_type: :password_field, name: :password %>
  <!-- <a href="#" class="text-xs z-10 absolute px-2 md:hover:unplugged right-0 top-1.5 py-1 toggle-lecture-btn text-light" data-target="#current-password" tabindex="0">
    <i class="fa-solid fa-eye-low-vision"></i>
  </a> -->
</fieldset>

<div class="flex items-center justify-between mt-2">
  <div class="flex gap-3">
    <div class="flex h-6 shrink-0 items-center">
      <div class="group grid size-4 grid-cols-1">
        <%= f.check_box :remember_me, value: true, class: "col-start-1 row-start-1 appearance-none rounded-sm border border-gray-300 bg-white checked:border-yellow-600 checked:bg-yellow-600 indeterminate:border-yellow-600 indeterminate:bg-yellow-600 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-yellow-600 disabled:border-gray-300 disabled:bg-gray-100 disabled:checked:bg-gray-100 forced-colors:appearance-auto" %>
        <svg class="pointer-events-none col-start-1 row-start-1 size-3.5 self-center justify-self-center stroke-white group-has-disabled:stroke-gray-950/25" viewBox="0 0 14 14" fill="none">
          <path class="opacity-0 group-has-checked:opacity-100" d="M3 8L6 11L11 3.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
          <path class="opacity-0 group-has-indeterminate:opacity-100" d="M3 7H11" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
      </div>
    </div>
    <label for="user_remember_me" class="block text-sm/6">Recuérdame</label>
  </div>

  <div class="text-sm/6">
    <a href="/recuperar-cuenta" class="text-white/80 hover:text-white">¿Olvidaste tu contraseña?</a>
  </div>
</div>
  
  <footer class="w-full mt-2">
    <%= render 'components/button', text: 'Iniciar Sesión', button_type: 'submit', icon: 'fa-solid fa-lock-open' %>
  </footer>

<% end %>