<% provide(:title, "#{t(:themes)}") %>

<header class="flex flex-col-reverse md:items-center md:flex-row border-b border-white/5 py-4 sm:py-6 mb-2 md:mb-4">
  <div class="sm:flex-auto">
    <h1 class="leading-6 text-xl font-medium"><%= t(:themes) %> <sup><%= Theme.all.count %></sup></h1>
  </div>
  <nav class="my-4 sm:flex-none">
    <%= link_to new_admin_program_theme_path(@program), class: 'btn-sm' do %>
      <i class="fas fa-plus"></i> <%= "#{t(:new)} #{t(:theme)}" %>
    <% end %>
  </nav>
</header>
<!-- filepath: /home/fc/colmena/app/views/admin/themes/index.html.erb -->
<section class="my-8 flow-root">
  <table class="w-full">
    <thead>
      <tr class="text-left">
        <th colspan="4">Módulo</th>
      </tr>
    </thead>
    <tbody>
      <% @themes.order(number: :asc).each do |theme| %>
        <tr class="text-sm">
          <td><%= theme.number %></td>
          <td>
            <%= link_to edit_admin_program_theme_path(@program, theme), class: "" do %>
              <%= theme.title %>
            <% end %>
          </td>
          <td class="text-xs p-2">
            <%= theme.description %>
          </td>
          <td class="text-sm py-2 text-center">
            <%= render "components/link", href: admin_program_theme_topics_path(@program, theme), text: "#{theme.topics.count} clases", icon: "" %>
          </td>
          <td class='text-center'>
            <%= link_to admin_program_theme_path(@program, theme), method: :delete, class: "btn danger", data: { confirm: "¿Estás seguro de eliminar este #{t(:theme)}?" } do %>
              <i class='fas fa-trash'></i> Eliminar
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>