<% provide(:title, "Actualizar Contraseña") %>

<header class="flex flex-col-reverse md:items-center md:flex-row border-b border-white/5 py-4 sm:py-6 mb-2 md:mb-4">
  <div class="sm:flex-auto">
    <h1 class="leading-6 text-xl font-medium">Actualizar Contraseña</h1>
  </div>
  <nav class="my-4 sm:flex-none">
    <%= render "components/link", href: admin_profile_path, text: "Regresar", icon: "fa-solid fa-arrow-left", class: "btn-xs danger" %>
  </nav>
</header>

<section class="content pb-8 w-full">
  <!-- Formulario de cambio de contraseña -->
  <%= form_for(current_user, :url => "/admin/update_password", html: { class: "w-full inline-block border border-white/10 rounded-lg p-4" }) do |f| %>
    <%= render "admin/shared/errors", object: current_user %>
    <div class=" grid grid-cols-1 md:grid-cols-3 gap-4 ">
      <div class="flex flex-col">
        <%= f.label :current_password, "Contraseña actual", class: "text-sm font-medium text-light-600 mb-2" %>
        <%= f.password_field :current_password, class: "w-full px-3 py-2  border border-white/10 rounded-md text-light-600 focus:outline-none focus:ring-2 focus:ring-yellow-400 focus:border-transparent", required: true %>
      </div>
      
      <div class="flex flex-col">
        <%= f.label :password, "Nueva contraseña", class: "text-sm font-medium text-light-600 mb-2" %>
        <%= f.password_field :password, class: "w-full px-3 py-2  border border-white/10 rounded-md text-light-600 focus:outline-none focus:ring-2 focus:ring-yellow-400 focus:border-transparent", required: true %>
      </div>
      
      <div class="flex flex-col">
        <%= f.label :password_confirmation, "Confirmar nueva contraseña", class: "text-sm font-medium text-light-600 mb-2" %>
        <%= f.password_field :password_confirmation, class: "w-full px-3 py-2  border border-white/10 rounded-md text-light-600 focus:outline-none focus:ring-2 focus:ring-yellow-400 focus:border-transparent", required: true %>
      </div>
    </div>

    <footer class="w-full mt-4 text-right sticky left-0 bottom-0 py-2 z-30 flex items-center  justify-end border-t border-black/10">
      <button type="submit" data-disable-with="Actualizando contraseña...">
        <i class="fas fa-key pr-2"></i> Actualizar contraseña
      </button>
    </footer>
  <% end %>
</section>