<!DOCTYPE html>
<html lang="<%= I18n.locale.to_s.downcase %>" class="h-full" dir="ltr" xmlns="https://www.w3.org/1999/xhtml" xmlns:og="https://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml">
  <head>
    <%= render "layouts/head" %>
    <%= yield :head %>
  </head>
  <body class="min-h-screen m-0 w-full">
    <%= render "shared/preloader" %>
    <%= render "layouts/header" %>
    <main class="w-10/12 mx-auto max-w-lg m-auto px-4 h-full flex">
      <%= yield %>
    </main>
    <%= render "layouts/footer", to_top: false %>
  </body>
</html>